pkgbase = chronicler-bin
	pkgver = 0.49.2
	pkgrel = 1
	arch = x86_64
	license = PolyForm-Shield-1.0.0
	depends = webkit2gtk-4.1
	depends = gtk3
	provides = chronicler-bin
	source = https://github.com/mak-kirkland/chronicler/releases/download/v0.49.2-alpha/Chronicler_0.49.2_amd64.deb
	source = https://raw.githubusercontent.com/mak-kirkland/chronicler/refs/heads/master/LICENSE
	sha256sums = 494adfbf794da7b0e7d732d36212e768e84c1e0d50d69add75df155fbae234ff
	sha256sums = SKIP

pkgname = chronicler-bin
